/*Main*/
.pageWrapper-1PgVDX{margin-right:9px; margin-left:1px; margin-bottom:8.5px; margin-top:6px}
.toolbar-1t6TWx::after{display:none}
.nowPlayingColumn-2sl4cE{position:fixed; right: 9px; top: 0px; border-radius: 13px}
.nowPlayingColumn-2sl4cE::after{position: relative}
.inviteToolbar-3F-l2g{display:none}
.videoControls-24w7Xp .toolbar-1t6TWx{background: transparent !important;}
.callContainer-36WRfH{border-radius: 13px; margin-top: -55px; margin-right: -248px}
.wrapper-2qzCYF.noChat-18KtBD.video--KPXCT{background-color: #181924;}
.sidebar-2K8pFh{margin-right:9px; margin-left:1px; margin-bottom:70px; margin-top:6px}
.chat-3bRxxu{margin-right:259px; margin-left:1px; margin-bottom:8.5px; margin-top:61px}
.threadSidebar-1o3BTy{margin-bottom:8.5px; margin-top:6px; margin-right:9px; margin-left:9px;}
.container-1D34oG{margin-right:9px; margin-left:1px; margin-bottom:8.5px; margin-top:6px}
.chat-3bRxxu {overflow: visible;}
.title-3qD0b-.container-1r6BKw.themed-ANHk51{position: absolute; top: -55px;}
.chat-3bRxxu.threadSidebarOpen-vdkwIh{margin-right:0px}
.membersWrap-2h-GB4{position:fixed; right: 9px; top: 6.3px; bottom: 8.5px}
.membersWrap-2h-GB4::after{position: relative}
.members-1998pB.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2, .title-3qD0b-.container-1r6BKw.themed-ANHk51{border-radius: 13px}
.panels-j1Uci_{
    position: absolute;
    bottom:8.5px;
    overflow:visible;
    border-radius: 13px;
    width: 240px}
.panels-j1Uci_::after{position: relative}
.contentRegionScroller-26nc1e, 
.sidebarRegion-VFTUkN, .sidebar-2K8pFh, 
.chat-3bRxxu, .membersWrap-2h-GB4, .searchResultsWrap-3-pOjs, .container-1D34oG, .pageWrapper-1PgVDX,
.chat-3bRxxu.threadSidebarOpen-vdkwIh, .threadSidebar-1o3BTy,
.scroller-3Vjo4T.thin-1ybCId.scrollerBase-289Jih{border-radius: 13px;}
.minimap.slider-mouseover, .decorationsOverviewRuler{display:none}
.sidebarRegion-VFTUkN, .sidebarRegionScroller-3MXcoP {flex: 0 0 auto;}
.contentColumnDefault-1VQkGM {max-width: unset;}
::selection {background-color: rgba(24, 160, 244, 0.503);}
.monaco-editor .selected-text {background-color: rgba(24, 160, 244, 0.503) !important;}

/*Mac Buttons For Floating Editor*/
.floating-window-buttons .button.close-button svg , .floating-window-buttons  .button.close-button .fill{
border-radius: 100px;
max-width: 14px;
max-height: 14px;
background-color:#EC6A5E;}
.floating-window-buttons .button.maximize-button svg, .floating-window-buttons .button.maximize-button .fill{
width:1px;}
html .floating-window-buttons:hover, html .floating-window-buttons .button.close-button:hover{background-color: #202225;}
html .floating-window-buttons:hover, html .floating-window-buttons .button.maximize-button:hover{background-color: #202225;}
html #bd-editor-controls button:hover, html #bd-editor-controls button .btn.btn-primary:hover{background-color: #202225;}
.floating-window-buttons .button.maximize-button svg , .floating-window-buttons  .button.maximize-button .fill{
border-radius: 100px;
max-width: 14px;
max-height: 14px;
background-color:#61C554;}
.button.close-button{order:-1;}
.title{order:2;}
html .floating-window-buttons .button{width:25px}
html .floating-window-buttons .button.close-button{padding-left:5px}
html .floating-window.resizable{border-radius: 12px;}
[d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"]{opacity: 0;}
.fill{opacity: 0;}
.floating-window-buttons {order: -1;}
.floating-window-buttons .close-button>svg:hover {
background-position: center;
background-repeat: no-repeat;
background-image: url('https://cdn.discordapp.com/attachments/872597872472907896/896612765731545088/close.png');
background-size: 6px;}
.floating-window-buttons .maximize-button>svg:hover {
background-position: center;
background-repeat: no-repeat;
background-image: url('https://cdn.discordapp.com/attachments/872597872472907896/896612353070731274/expand.png');
background-size: 6px}

/*Don't touch or I smack you*/
#app-mount [data-user-id="810543628307922955"] .bodyInnerWrapper-26fQXj, .textarea-2r0oV8.inputDefault-_djjkz.input-cIJ7To.scrollbarGhostHairline-1mSOM1.scrollbar-3dvm_9 {background: transparent;}
#app-mount [data-user-id="810543628307922955"].userPopout-xaxa6l {background-image: url(https://cdn.discordapp.com/attachments/872597872472907896/876122913869299782/Screen_Shot_2021-08-14_at_9.09.59_AM.png);}
