# demented-elmo.github.io

/*Toggle Buttons*/
.inviteToolbar-3F-l2g{display: none}
.separator-2I32lJ{display: none;}
.wrapper-3_530D{display: none}
.button-3AYNKb{display: none;}
#message-tts, #message-actions-tts {display:none;}
#message-edit, #message-actions-edit {display:none;}
#message-reply, #message-actions-reply {display:none;}
#message-copy-link, #message-actions-copy-link {display:none;}
#message-mark-unread, #message-actions-mark-unread {display:none;}
#message-delete, #message-actions-delete {display:none;}
#message-add-reaction, #message-actions-add-reaction {display:none;}
#message-thread, #message-actions-thread {display:none;}
#message-pin, #message-actions-pin {display:none;}
#message-apps, #message-actions-apps {display:none;}
#message-reactions, #message-actions-reactions {display:none;}
#textarea-context-cut, #textarea-context-actions-cut {display:none;}
#textarea-context-paste, #textarea-context-actions-paste {display:none;}
#textarea-context-copy, #textarea-context-actions-copy {display:none;}
#textarea-context-languages, #textarea-context-actions-languages {display:none;}
#textarea-context-sticker-suggestions, #textarea-context-actions-sticker-suggestions {display:none;}
#user-context-mention, #user-context-actions-mention {display:none;}
#user-context-imageutilities-main-subitem, #user-context-actions-imageutilities-main-subitem {display:none;}
#user-context-note, #user-context-actions-note {display:none;}
#user-context-roles, #user-context-actions-roles {display:none;}
#user-context-call, #user-context-actions-call {display:none;}
#user-context-invite-to-server, #user-context-actions-invite-to-server {display:none;}
#guild-context-imageutilities-main-subitem {display:none;}
#guild-context-privacy {display:none;}
#guild-context-change-nickname {display:none;}
#guild-context-guild-profile {display:none;}
#guild-context-create-channel {display:none;}
#guild-context-create-category {display:none;}
#user-context-add-friend-nickname, #user-context-actions-add-friend-nickname {display:none;}
#message-copy, #message-actions-copy {display:none;}
#message-search-google, #message-actions-search-google {display:none;}
#message-translator-search-translation, #message-actions-translator-search-translation {display:none;}
