# demented-elmo.github.io

/*Remove Premium Icon On Banners*/
.bannerPremium-2hSAwz .premiumIconWrapper-1A-UH5 {display: none;}

/*Hide GIF Tab*/
#gif-picker-tab {display: none}

/*Hide Stage Discovery And Nitro Tab*/
#private-channels [href="/discovery"] {display: none}
#private-channels [href="/store"] {display: none}

/*Selection Color*/
::selection {background-color: rgba(24, 160, 244, 0.503);}

/*Hide Help And Inbox*/
.search-36MZv- + div{display: none;}
.toolbar-1t6TWx a {display: none;}

/*Settings Spacing*/
.sidebarRegion-VFTUkN,
.sidebarRegionScroller-3MXcoP {flex: 0 0 auto;}
.contentColumnDefault-1VQkGM {max-width: unset;}

/*Resize Channel List*/
:root { --sidebar-initial-width: 240px; }
.sidebar-2K8pFh {
  resize: horizontal;
  width: var(--sidebar-initial-width);}
.bannerImage-3KhIJ6 { width: 100%; };

/*Pin Home Button*/
.guilds-1SWlCJ .tree-2wKJdG:focus {outline-color: transparent;}
.guilds-1SWlCJ .scroller-1Bvpku {
  contain: unset;
  margin-top: 56px;}
.guilds-1SWlCJ .scroller-1Bvpku .tutorialContainer-2sGCg9 {
  position: fixed;
  transform: translatey( -100% );}

/*Rainbow wave name and status*/
.subtext-3CDbHg,
.customStatus-3tC2ig,
.hovered-d5PMVU,
.title-eS5yk3 {
  background-image: linear-gradient(to left,rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
  animation: gradient-border 4s linear infinite;
  background-size: 400% 100%;
  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 1;}
@keyframes gradient-border {
  from {background-position: 0 0;}
  to {background-position: 130% 0;}}

/*Rainbow wave mentions*/
html .mention.wrapper-3WhCwL.mention.interactive{
  background-image: linear-gradient(to left,rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
  animation: gradient-border 3s linear infinite;
  background-size: 400% 100%;
  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
  z-index: 1;}
@keyframes gradient-border {
  from {background-position: 0 0;}
  to {background-position: 130% 0;}}

/*Offline Viewer*/
.container-16j22k {background: transparent; pointer-events: none}
.container-16j22k>div {display: none}
.container-16j22k::before {
  content: "You've gone offline";
  display: block;
  bottom: 24px; right: 24px;
  position: absolute;
  padding: 8px 16px;
  background-color: #f04747;
  border-radius: 4px;
  color: #fff;
  font-weight: 500}

/*Home Button*/
.homeIcon-FuNwkv path {fill: transparent}
.homeIcon-FuNwkv {
  background: url('https://cdn.discordapp.com/attachments/840988150624682015/872518621123997756/Demented_Elmo_Eyebrows.gif') center/contain no-repeat;
  min-width: 100px;
  min-height: 48px;}

/*Animated Buttons*/
.button-14-BFJ:hover .contents-18-Yxp {animation: UserModalButtons 0.5s normal ease;}
.container-3baos1 .noWrap-3jynv6 {
  width: 100px;
  opacity: 1;}
.button-14-BFJ {transition: 0.2s;}
.button-14-BFJ:hover {
  padding-bottom: 0px;
  transition: 0.2;}
@keyframes UserModalButtons {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-5px);}
  100% {transform: translateY(0px);}}

/*Old Role Style*/
.role-2irmRk {
  border: 1px solid;
  border-radius: 11px;
  background: transparent}
.roleCircle-3xAZ1j {margin-left: 0}

/*Colored Roles*/
.role-2irmRk {
  position: relative;
  overflow: hidden;
  z-index: 0;}
.roleCircle-3xAZ1j::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: inherit;
  opacity: 0.3;
  z-index: -1}

/*Textbox Text*/
.placeholder-37qJjk {visibility: hidden;}
.placeholder-37qJjk::before {
  content: "What's on your mind?";
  font-size: 1rem;
  visibility: visible;}

/*Hide Social Links And Info*/
.socialLinks-3jqNFy{display: none}
.info-1VyQPT{display: none}

/*Hides CSS Tips*/
.markdown-hover {display: none;}

/*Remove Set A Server Nickname Button*/
.setIdentityLink-1t8Ahd {display: none}

/*Toggle Buttons*/
.inviteToolbar-3F-l2g{display: none}
.separator-2I32lJ{display: none;}
.wrapper-3_530D{display: none}
.button-3AYNKb{display: none;}
#message-tts, #message-actions-tts {display:none;}
#message-edit, #message-actions-edit {display:none;}
#message-reply, #message-actions-reply {display:none;}
#message-copy-link, #message-actions-copy-link {display:none;}
#message-mark-unread, #message-actions-mark-unread {display:none;}
#message-delete, #message-actions-delete {display:none;}
#message-add-reaction, #message-actions-add-reaction {display:none;}
#message-thread, #message-actions-thread {display:none;}
#message-pin, #message-actions-pin {display:none;}
#message-apps, #message-actions-apps {display:none;}
#message-reactions, #message-actions-reactions {display:none;}
#textarea-context-cut, #textarea-context-actions-cut {display:none;}
#textarea-context-paste, #textarea-context-actions-paste {display:none;}
#textarea-context-copy, #textarea-context-actions-copy {display:none;}
#textarea-context-languages, #textarea-context-actions-languages {display:none;}
#textarea-context-sticker-suggestions, #textarea-context-actions-sticker-suggestions {display:none;}
#user-context-mention, #user-context-actions-mention {display:none;}
#user-context-imageutilities-main-subitem, #user-context-actions-imageutilities-main-subitem {display:none;}
#user-context-note, #user-context-actions-note {display:none;}
#user-context-roles, #user-context-actions-roles {display:none;}
#user-context-call, #user-context-actions-call {display:none;}
#user-context-invite-to-server, #user-context-actions-invite-to-server {display:none;}
#guild-context-imageutilities-main-subitem {display:none;}
#guild-context-privacy {display:none;}
#guild-context-change-nickname {display:none;}
#guild-context-guild-profile {display:none;}
#guild-context-create-channel {display:none;}
#guild-context-create-category {display:none;}
#user-context-add-friend-nickname, #user-context-actions-add-friend-nickname {display:none;}
#message-copy, #message-actions-copy {display:none;}
#message-search-google, #message-actions-search-google {display:none;}
#message-translator-search-translation, #message-actions-translator-search-translation {display:none;}
