/*DEMENTED_ELMO'S BETTERDISCORD CSS*/

/*Hide Discovery*/
.tutorialContainer-30WoTp+div {display:none}

/*Thread Notifcations*/
.container-3O_wAf {display:none}

/*Timestamp Removal*/
.header-23xsNx > .timestamp-3ZCmNB {display: none;}

/*Banner Fixes*/
.bannerPremium-2hSAwz .premiumIconWrapper-1A-UH5 {display: none;}
.bannerOverlay-1uIerX{display: none;}

/*Emoji Picker*/
.sprite-2iCowe {background: url("https://cdn.discordapp.com/attachments/872597872472907896/876198404605231204/Emojis.png");}

/*Remove Message Box In User Popout*/
.inputDefault-_djjkz.input-cIJ7To.input-2_SIlA {display: none;}
.footer-3UKYOU {display: none;}

/*Hide GIF Tab*/
#gif-picker-tab {display: none}

/*Hide Stage Discovery And Nitro Tab*/
#private-channels [href="/discovery"] {display: none}
#private-channels [href="/store"] {display: none}

/*Remove Maximum CSS Editor Size*/
#floating-editor-window.resizable {max-height: unset; max-width: unset; min-width: unset; min-height: unset;}

/*Hide Social Links And Info*/
.socialLinks-3jqNFy{display: none}
.info-1VyQPT{display: none}

/*Hides CSS Tips*/
.markdown-hover {display: none;}

/*Remove Set A Server Nickname Button*/
.setIdentityLink-1t8Ahd {display: none}

/*Selection Color*/
::selection {background-color: rgba(24, 160, 244, 0.503);}
.monaco-editor .selected-text { background-color: rgba(24, 160, 244, 0.503) !important;}

/*Textbox Text*/
.placeholder-37qJjk {visibility: hidden;}
.placeholder-37qJjk::before {
  content: "What's on your mind?";
  font-size: 1rem;
  visibility: visible;}

/*Search Bar Text*/
.public-DraftEditorPlaceholder-root {visibility: hidden;}
.public-DraftEditorPlaceholder-root::before {
  content: "What's up?";
  visibility: visible;}

/*Hide Top Bar Icons*/
[aria-label*="Help"]{display: none;}
[aria-label*="New Group DM"]{display: none;}
[aria-label*="Mute channel"]{display:none}
[aria-label*="Inbox"]{display: none;}
[aria-label*="Start Video Call"]{display: none;}

/*Emoji Fix*/
img.emote {
text-indent: 0;
white-space: nowrap;
width: auto;
position: relative;
top: 0.25ex;}

/*Settings Spacing*/
.sidebarRegion-VFTUkN,
.sidebarRegionScroller-3MXcoP {flex: 0 0 auto;}
.contentColumnDefault-1VQkGM {max-width: unset;}

/*Right Click Colors*/
.item-1tOPte.labelContainer-1BLJti.colorDanger-2qLCe1.colorDefault-2K3EoJ{color: rgb(216, 40, 33);}
.theme-dark .item-1tOPte.labelContainer-1BLJti.colorDanger-2qLCe1.colorDefault-2K3EoJ.focused-3afm-j{background-color: rgba(216, 39, 33, 0.103)!important; color: rgb(216, 40, 33);}
.theme-dark .item-1tOPte.labelContainer-1BLJti.colorBrand-ROmMP1.colorDefault-2K3EoJ.focused-3afm-j{background-color: rgba(91, 100, 234, 0.103)!important; color: rgb(91, 100, 234);}
.theme-dark .item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j{background-color: #252631!important; color: #B9BBBE;}
.theme-dark .labelContainer-1BLJti.colorPremium-p4p7qO.colorDefault-2K3EoJ.focused-3afm-j{background-color: rgba(239, 123, 243, 0.103) !important; color: #EE7BF3;}
#status-picker-idle.focused-3afm-j{background-color: rgba(238, 172, 66, 0.103)!important; color: #B9BBBE;}
#status-picker-idle.colorDefault-2K3EoJ.focused-3afm-j .status-1AY8sU, .colorDefault-2K3EoJ:active .status-1AY8sU{background-color: rgba(238, 172, 66) !important;}
#status-picker-online.focused-3afm-j{background-color: rgba(90, 163, 100, 0.103) !important; color: #B9BBBE;}
#status-picker-online.colorDefault-2K3EoJ.focused-3afm-j .status-1AY8sU, .colorDefault-2K3EoJ:active .status-1AY8sU{background-color: #5AA364 !important;}
#status-picker-dnd.focused-3afm-j{background-color: rgba(219, 81, 76, 0.103) !important; color: #B9BBBE;}
#status-picker-dnd.colorDefault-2K3EoJ.focused-3afm-j .status-1AY8sU, .colorDefault-2K3EoJ:active .status-1AY8sU{background-color: #DB504C !important;}
#status-picker-invisible.focused-3afm-j{background-color: rgba(118, 127, 140, 0.103) !important; color: #B9BBBE;}
#status-picker-invisible.colorDefault-2K3EoJ.focused-3afm-j .status-1AY8sU, .colorDefault-2K3EoJ:active .status-1AY8sU{background-color: #767F8C !important;}
#status-picker-custom-status.status-1AY8sU{background-color: rgba(90, 163, 100, 0.103) !important; color: #B9BBBE;}
.scroller-3BxosC{background-color: #181924;}
.radioSelection-1HmrQS{color:#5B64EA !important}
.radioSelection-1HmrQS{color:#5B64EA !important}
.checkbox-3s5GYZ{color:#5B64EA !important}
.check-1JyqgN{color:#FFFFFF !important}

/*Pin Home Button*/
.guilds-1SWlCJ .tree-2wKJdG:focus {outline-color: transparent;}
.guilds-1SWlCJ .scroller-1Bvpku {
  contain: unset;
  margin-top: 56px;}
.guilds-1SWlCJ .scroller-1Bvpku .tutorialContainer-2sGCg9 {
  position: fixed;
  transform: translatey( -100% );}

/*Rainbow wave name and status*/
.subtext-3CDbHg,
.customStatus-3tC2ig,
.hovered-d5PMVU,
.title-eS5yk3 {
  background-image: linear-gradient(to left,rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
  animation: gradient-border 4s linear infinite;
  background-size: 400% 100%;
  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 1;}
@keyframes gradient-border {
  from {background-position: 0 0;}
  to {background-position: 130% 0;}}

/*Rainbow wave mentions*/
html .mention.wrapper-3WhCwL.mention.interactive{
  background-image: linear-gradient(to left,rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
  animation: gradient-border 3s linear infinite;
  background-size: 400% 100%;
  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
  z-index: 1;}
@keyframes gradient-border {
  from {background-position: 0 0;}
  to {background-position: 130% 0;}}

/*Offline Viewer*/
.container-16j22k {background: transparent; pointer-events: none}
.container-16j22k>div {display: none}
.container-16j22k::before {
  content: "You've gone offline";
  display: block;
  bottom: 24px; right: 24px;
  position: absolute;
  padding: 8px 16px;
  background-color: #f04747;
  border-radius: 4px;
  color: #fff;
  font-weight: 500}

/*Animated Buttons*/
.button-14-BFJ:hover .contents-18-Yxp {animation: UserModalButtons 0.5s normal ease;}
.container-3baos1 .noWrap-3jynv6 {
  width: 100px;
  opacity: 1;}
.button-14-BFJ {transition: 0.2s;}
.button-14-BFJ:hover {
  padding-bottom: 0px;
  transition: 0.2;}
@keyframes UserModalButtons {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-5px);}
  100% {transform: translateY(0px);}}

/*Old Role Style*/
.role-2irmRk {
  border: 1px solid;
  border-radius: 11px;
  background: transparent}
.roleCircle-3xAZ1j {margin-left: 0}

/*Colored Roles*/
.role-2irmRk {
  position: relative;
  overflow: hidden;
  z-index: 0;}
.roleCircle-3xAZ1j::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: inherit;
  opacity: 0.3;
  z-index: -1}

/*Hover Channels Animated*/
.mainContent-u_9PKf:hover {
animation: UserModalButtons 0.5s normal ease;}
.mainContent-u_9PKf .noWrap-3jynv6 {width: 100px;opacity: 1;}
.mainContent-u_9PKf {transition: 0.2s;}
.mainContent-u_9PKf:hover {transition: 0.2;}
@keyframes UserModalButtons {
0% {transform: translateY(0px);}
45% {transform: translateY(-5px);}
90% {transform: translateY(0px);}}

/*Rainbow Wave Role Mentions*/
.wrapper-3WhCwL.iconMention-1_KJ_B.iconMentionText-8GCluA.mention.interactive{padding-left:0px}
.roleMention-2Bj0ju.desaturate-qhyunI.wrapper-3WhCwL.mention{
  background-image: linear-gradient(to left,rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
  animation: gradient-border 4s linear infinite;
  background-size: 400% 100%;
  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 1;}
@keyframes gradient-border {
  from {background-position: 0 0;}
  to {background-position: 130% 0;}}

/*Hover DMS animated*/
.channel-2QD9_O.container-2Pjhx-.clickable-1JJAn8:hover {
animation: UserModalButtons 0.5s normal ease;}
.channel-2QD9_O.container-2Pjhx-.clickable-1JJAn8.noWrap-3jynv6 {width: 100px;opacity: 1;}
.channel-2QD9_O.container-2Pjhx-.clickable-1JJAn8 {transition: 0.2s;}
.channel-2QD9_O.container-2Pjhx-.clickable-1JJAn8:hover {transition: 0.2;}
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6:hover {
animation: UserModalButtons 0.5s normal ease;}
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6.noWrap-3jynv6 {width: 100px;opacity: 1;}
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6 {transition: 0.2s;}
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6:hover {transition: 0.2;}
@keyframes UserModalButtons {
0% {transform: translateY(0px);}
45% {transform: translateY(-5px);}
90% {transform: translateY(0px);}}

/*Settings*/
.item-PXvHYJ.themed-OHr7kt[aria-controls*="language-tab"]{display: none;}
.item-PXvHYJ.themed-OHr7kt[aria-controls*="billing-tab"]{display: none;}
.item-PXvHYJ.themed-OHr7kt[aria-controls*="library-inventory-tab"]{color: #74DAC1;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="library-inventory-tab"]{--background-modifier-hover: rgba(116, 218, 193, 0.103) !important;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="library-inventory-tab"][aria-selected="true"]{background-color: #74DAC1!important; color: white;}
.item-PXvHYJ.themed-OHr7kt[aria-controls*="game-activity-tab"]{color: #F0BB5D;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="game-activity-tab"]{--background-modifier-hover: rgba(240, 186, 93, 0.103) !important;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="game-activity-tab"][aria-selected="true"]{background-color: #F0BB5D !important; color: white;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="logout-tab"]{--background-modifier-hover: rgba(219, 81, 76, 0.103) !important;}
.item-PXvHYJ.themed-OHr7kt[aria-controls*="customcss-tab"]{color: rgb(90, 211, 54);}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="customcss-tab"]{--background-modifier-hover: rgba(90, 211, 54, 0.103) !important;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="customcss-tab"][aria-selected="true"]{background-color: rgb(90, 211, 54) !important; color: white;}
.item-PXvHYJ.themed-OHr7kt[aria-controls*="plugins-tab"]{color: rgb(19, 129, 255);}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="plugins-tab"]{--background-modifier-hover: rgba(19, 129, 255, 0.103) !important;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="plugins-tab"][aria-selected="true"]{background-color: rgb(19, 129, 255) !important; color: white;}
.item-PXvHYJ.themed-OHr7kt[aria-controls*="themes-tab"]{color: rgb(248, 51, 51);}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="themes-tab"]{--background-modifier-hover: rgba(248, 51, 51, 0.103) !important;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="themes-tab"][aria-selected="true"]{background-color: rgb(248, 51, 51) !important; color: white;}
.item-PXvHYJ.themed-OHr7kt[aria-controls*="hypesquad-online-tab"]{color: #7EDDC7;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="hypesquad-online-tab"]{--background-modifier-hover: rgba(126, 221, 199, 0.103) !important;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="hypesquad-online-tab"][aria-selected="true"]{background-color: #7EDDC7 !important; color: white;}

/*Toggle Buttons*/
.inviteToolbar-3F-l2g{display: none}
.separator-2I32lJ{display: none;}
.wrapper-3_530D{display: none}
.button-3AYNKb{display: none;}
#message-tts, #message-actions-tts {display:none;}
#message-edit, #message-actions-edit {display:none;}
#message-reply, #message-actions-reply {display:none;}
#message-copy-link, #message-actions-copy-link {display:none;}
#message-mark-unread, #message-actions-mark-unread {display:none;}
#message-delete, #message-actions-delete {display:none;}
#message-add-reaction, #message-actions-add-reaction {display:none;}
#message-thread, #message-actions-thread {display:none;}
#message-pin, #message-actions-pin {display:none;}
#message-apps, #message-actions-apps {display:none;}
#message-reactions, #message-actions-reactions {display:none;}
#textarea-context-cut, #textarea-context-actions-cut {display:none;}
#textarea-context-paste, #textarea-context-actions-paste {display:none;}
#textarea-context-copy, #textarea-context-actions-copy {display:none;}
#textarea-context-languages, #textarea-context-actions-languages {display:none;}
#textarea-context-sticker-suggestions, #textarea-context-actions-sticker-suggestions {display:none;}
#user-context-mention, #user-context-actions-mention {display:none;}
#user-context-imageutilities-main-subitem, #user-context-actions-imageutilities-main-subitem {display:none;}
#user-context-note, #user-context-actions-note {display:none;}
#user-context-roles, #user-context-actions-roles {display:none;}
#user-context-call, #user-context-actions-call {display:none;}
#user-context-invite-to-server, #user-context-actions-invite-to-server {display:none;}
#guild-context-imageutilities-main-subitem {display:none;}
#guild-context-privacy {display:none;}
#guild-context-change-nickname {display:none;}
#guild-context-guild-profile {display:none;}
#guild-context-create-channel {display:none;}
#guild-context-create-category {display:none;}
#user-context-add-friend-nickname, #user-context-actions-add-friend-nickname {display:none;}
#message-copy, #message-actions-copy {display:none;}
#message-search-google, #message-actions-search-google {display:none;}
#message-translator-search-translation, #message-actions-translator-search-translation {display:none;}
#channel-context-invite-people{display: none;}
#channel-context-showhiddenchannels-permissions{display:none}
#textarea-context-chataliases-add-alias{display:none}
#textarea-context-chatfilter-add-filter{display:none}
#guild-context-serverfolders-auto-read-folder{display:none}
#guild-context-membercount-toggle{display:none}
#guild-context-serverfolders-submenu-add{display:none}
#message-chataliases-add-alias{display:none}
#message-chatfilter-add-filter{display:none}

/*Elmo's Code*/

/*Better Name In Bottom*/
.size14-e6ZScH .title-eS5yk3{font-size:13px}

/*Background Image*/
#app-mount [data-user-id="810543628307922955"].userPopout-xaxa6l {background-image: url(https://cdn.discordapp.com/attachments/872597872472907896/876122913869299782/Screen_Shot_2021-08-14_at_9.09.59_AM.png);}

/*Credit Text*/
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {visibility: hidden;}
.searchBar-6Kv8R2 .searchBarComponent-32dTOx::before {
  content: "BetterDiscord  CSS by Demented_Elmo!";
  visibility: visible;
  font-size: 13px;
  -webkit-text-fill-color: #B9BBBE;}
.searchBar-6Kv8R2{pointer-events: none;}
.searchBarComponent-32dTOx{padding-right: 1px;}

/*Popout Addition Fixes*/
#app-mount [data-user-id="810543628307922955"] .bodyInnerWrapper-26fQXj {background: transparent;}
