/*DEMENTED_ELMO'S BETTERDISCORD CSS*/

/*Hide Discovery*/
.tutorialContainer-32VdNI+div{display: none;}

/*Hide Add A Server*/
.tutorialContainer-32VdNI{display: none;}

/*Hide Floating Stream Preview*/
.pictureInPictureVideo-2iKsGg {display: none;}

/*Copy Raw Message Button Removal*/
.copr-button[aria-label="Copy About me"]{display:none}

/*Thread Notifcations*/
.container-3O_wAf {display:none}

/*Better Long File Name Viewer*/
.audioMetadata-3zOuGv::before {min-width: 24px;}

/*Timestamp Removal*/
.header-23xsNx > .timestamp-3ZCmNB {display: none;}

/*Banner Fixes*/
.bannerPremium-2hSAwz .premiumIconWrapper-1A-UH5 {display: none;}
.bannerOverlay-1uIerX{display: none;}

/*Emoji Picker*/
.sprite-2iCowe {background: url("https://cdn.discordapp.com/attachments/872597872472907896/876198404605231204/Emojis.png");}

/*Remove Message Box In User Popout*/
.inputDefault-_djjkz.input-cIJ7To.input-2_SIlA {display: none;}
.footer-3UKYOU {display: none;}

/*Hide GIF Tab*/
#gif-picker-tab {display: none}

/*Hide Stage Discovery And Nitro Tab*/
#private-channels [href="/discovery"] {display: none}
#private-channels [href="/store"] {display: none}

/*Remove Maximum CSS Editor Size*/
#floating-editor-window.resizable {max-height: unset; max-width: unset; min-width: unset; min-height: unset;}

/*Hide Social Links And Info*/
.socialLinks-3jqNFy{display: none}
.info-1VyQPT{display: none}

/*Hides CSS Tips*/
.markdown-hover {display: none;}

/*Remove Set A Server Nickname Button*/
.setIdentityLink-1t8Ahd {display: none}

/*Selection Color*/
::selection {background-color: rgba(24, 160, 244, 0.503);}
.monaco-editor .selected-text { background-color: rgba(24, 160, 244, 0.503) !important;}

/*Textbox Text*/
.placeholder-37qJjk {visibility: hidden;}
.placeholder-37qJjk::before {
  content: "What's on your mind?";
  font-size: 1rem;
  visibility: visible;}

/*Search Bar Text*/
.public-DraftEditorPlaceholder-root {visibility: hidden;}
.public-DraftEditorPlaceholder-root::before {
  content: "What's up?";
  visibility: visible;}

/*Cleaner Group DMs*/
.channel-2QD9_O.container-2Pjhx-.clickable-1JJAn8 .subtext-1RtU34{display:none}
.channel-2QD9_O.container-2Pjhx-.clickable-1JJAn8 .overflow-WK9Ogt{font-size: 17px;}
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6 .subtext-1RtU34{display:none}
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6 .overflow-WK9Ogt{font-size: 17px;}

/*Capitalize Channel Names*/
.headerIcon-1qrXTN+.headerLabel-3dG4M-,
.children-19S4PO >h3,
.item-PXvHYJ,
.name-23GUGE {text-transform: capitalize;}

/*New Location for Group DM*/
.popout-103y-5.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y{left:420px}
[aria-label*="New Group DM"]{
    right: 1248px;
    opacity: 0;}

/*Hide Top Bar Icons*/
[aria-label*="Help"]{display: none;}
[aria-label*="Member List"]{display:none}
[aria-label*="Mute channel"]{display:none}
[aria-label*="Inbox"]{display: none;}
[aria-label*="Threads"]{display: none;}
[aria-label*="Start Video Call"]{display: none;}
.toolbar-1t6TWx .divider-3FBTu8{display:none}

/*Emoji Fix*/
img.emote {
text-indent: 0;
white-space: nowrap;
width: auto;
position: relative;
top: 0.25ex;}

/*Settings Spacing*/
.sidebarRegion-VFTUkN,
.sidebarRegionScroller-3MXcoP {flex: 0 0 auto;}
.contentColumnDefault-1VQkGM {max-width: unset;}

/*Pin Home Button*/
.guilds-1SWlCJ .tree-2wKJdG:focus {outline-color: transparent;}
.guilds-1SWlCJ .scroller-1Bvpku {
  contain: unset;
  margin-top: 56px;}
.guilds-1SWlCJ .scroller-1Bvpku .tutorialContainer-2sGCg9 {
  position: fixed;
  transform: translatey( -100% );}

/*Offline Viewer*/
.container-16j22k {background: transparent; pointer-events: none}
.container-16j22k>div {display: none}
.container-16j22k::before {
  content: "You've gone offline";
  display: block;
  bottom: 24px; right: 24px;
  position: absolute;
  padding: 8px 16px;
  background-color: #f04747;
  border-radius: 4px;
  color: #fff;
  font-weight: 500}

/*Old Role Style*/
.role-2irmRk {
  border: 1px solid;
  border-radius: 11px;
  background: transparent}
.roleCircle-3xAZ1j {margin-left: 0}

/*Colored Roles*/
.role-2irmRk {
  position: relative;
  overflow: hidden;
  z-index: 0;}
.roleCircle-3xAZ1j::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: inherit;
  opacity: 0.3;
  z-index: -1}

/*Hover Channels Animated*/
.mainContent-u_9PKf:hover {
animation: UserModalButtons 0.5s normal ease;}
.mainContent-u_9PKf .noWrap-3jynv6 {width: 100px;opacity: 1;}
.mainContent-u_9PKf {transition: 0.2s;}
.mainContent-u_9PKf:hover {transition: 0.2;}
@keyframes UserModalButtons {
0% {transform: translateY(0px);}
45% {transform: translateY(-5px);}
90% {transform: translateY(0px);}}

/*Right Click GUI Additions*/
.scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih{border-radius: 7px;}
:root {--ContextMenuBackgroundColorDark: #292937 !important;}
.menu-3sdvDG {
  background: var(--ContextMenuBackgroundColorDark) !important;
  border: solid 1.9px #000 !important;
  border-radius: 8px !important;}
.menu-3sdvDG:before {
  content:"" !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  backdrop-filter: var(--ContextMenuBackgroundBlur) !important;
  border-radius: 8px !important;
  box-shadow: inset 0 0 0 1px #fff3 !important;
  z-index: -1 !important;}

/*Animated Buttons*/
.button-14-BFJ:hover .contents-18-Yxp {animation: UserModalButtons 0.5s normal ease;}
.container-3baos1 .noWrap-3jynv6 {
  width: 100px;
  opacity: 1;}
.button-14-BFJ {transition: 0.2s;}
.button-14-BFJ:hover {
  padding-bottom: 0px;
  transition: 0.2;}
@keyframes UserModalButtons {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-5px);}
  100% {transform: translateY(0px);}}

/*Search Bar*/
.searchLearnMore-3SQUAj[aria-label*="Learn More"]{display:none}
.searchResultsWrap-3-pOjs[aria-label*="Search Results"]{width:350px}
#search-results-0.option-96V44q.searchOption-zQ-1l6{display:none}
#search-results-1.option-96V44q.searchOption-zQ-1l6{display:none}
#search-results-2.option-96V44q.searchOption-zQ-1l6{display:none}
#search-results-3.option-96V44q.searchOption-zQ-1l6{display:none}
#search-results-4.option-96V44q.searchOption-zQ-1l6{display:none}
#search-results-5.option-96V44q.searchOption-zQ-1l6{display:none}
#search-results-0.option-96V44q.user-O3Czj0{display:none}
#search-results-1.option-96V44q.user-O3Czj0{display:none}
#search-results-2.option-96V44q.user-O3Czj0{display:none}
#search-results-3.option-96V44q.user-O3Czj0{display:none}
#search-results-4.option-96V44q.user-O3Czj0{display:none}
#search-results-5.option-96V44q.user-O3Czj0{display:none}
.resultsGroup-r_nuzN::before{display:none}

/*Hover DMS animated*/
.channel-2QD9_O.container-2Pjhx-.clickable-1JJAn8:hover {
animation: UserModalButtons 0.5s normal ease;}
.channel-2QD9_O.container-2Pjhx-.clickable-1JJAn8.noWrap-3jynv6 {width: 100px;opacity: 1;}
.channel-2QD9_O.container-2Pjhx-.clickable-1JJAn8 {transition: 0.2s;}
.channel-2QD9_O.container-2Pjhx-.clickable-1JJAn8:hover {transition: 0.2;}
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6:hover {
animation: UserModalButtons 0.5s normal ease;}
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6.noWrap-3jynv6 {width: 100px;opacity: 1;}
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6 {transition: 0.2s;}
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6:hover {transition: 0.2;}
@keyframes UserModalButtons {
0% {transform: translateY(0px);}
45% {transform: translateY(-5px);}
90% {transform: translateY(0px);}}

/*Cog Right Click*/
#user-settings-cog-Profile_Customization{display:none}
#user-settings-cog-My_Account{display:none}
#user-settings-cog-Privacy___Safety{display:none}
#user-settings-cog-Authorized_Apps{display:none}
#user-settings-cog-Connections{display:none}
#user-settings-cog-Discord_Nitro{display:none}
#user-settings-cog-Nitro_Server_Boost{display:none}
#user-settings-cog-Library_Inventory{display:none}
#user-settings-cog-Billing{display:none}
#user-settings-cog-Appearance{display:none}
#user-settings-cog-Accessibility{display:none}
#user-settings-cog-Voice___Video{display:none}
#user-settings-cog-Text___Images{display:none}
#user-settings-cog-Notifications{display:none}
#user-settings-cog-Keybinds{display:none}
#user-settings-cog-Language{display:none}
#user-settings-cog-Advanced{display:none}
#user-settings-cog-Game_Activity{display:none}
#user-settings-cog-changelog{display:none}
#user-settings-cog-Hypesquad_Online{display:none}
#user-settings-cog-Subscriptions{display:none}
#user-settings-cog-Streamer_Mode{display:none}
#user-settings-cog-BetterDiscord--Settings{display:none}
#user-settings-cog-BetterDiscord--pluginrepo-repo{display:none}
#user-settings-cog-BetterDiscord--themerepo-repo{display:none}
#user-settings-cog-BetterDiscord--Plugins .arrow-gKvcEx.caret-1XEpQV{display:none}
.submenu-2-ysNh.menu-3sdvDG[aria-activedescendant="user-settings-cog-BetterDiscord--Plugins"] .submenuPaddingContainer-fiOCHc{display:none}

/*Right Click Colors*/
.item-1tOPte.labelContainer-1BLJti.colorDanger-2qLCe1.colorDefault-2K3EoJ{color: rgb(216, 40, 33);}
.theme-dark .item-1tOPte.labelContainer-1BLJti.colorDanger-2qLCe1.colorDefault-2K3EoJ.focused-3afm-j{background-color: rgba(216, 39, 33, 0.103)!important; color: rgb(216, 40, 33);}
.theme-dark .item-1tOPte.labelContainer-1BLJti.colorBrand-ROmMP1.colorDefault-2K3EoJ.focused-3afm-j{background-color: rgba(91, 100, 234, 0.103)!important; color: rgb(91, 100, 234);}
.theme-dark .item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j{background-color: #252631!important; color: #B9BBBE;}
.theme-dark .labelContainer-1BLJti.colorPremium-p4p7qO.colorDefault-2K3EoJ.focused-3afm-j{background-color: rgba(239, 123, 243, 0.103) !important; color: #EE7BF3;}
#status-picker-idle.focused-3afm-j{background-color: rgba(238, 172, 66, 0.103)!important; color: #B9BBBE;}
#status-picker-idle.colorDefault-2K3EoJ.focused-3afm-j .status-1AY8sU, .colorDefault-2K3EoJ:active .status-1AY8sU{background-color: rgba(238, 172, 66) !important;}
#status-picker-online.focused-3afm-j{background-color: rgba(90, 163, 100, 0.103) !important; color: #B9BBBE;}
#status-picker-online.colorDefault-2K3EoJ.focused-3afm-j .status-1AY8sU, .colorDefault-2K3EoJ:active .status-1AY8sU{background-color: #5AA364 !important;}
#status-picker-dnd.focused-3afm-j{background-color: rgba(219, 81, 76, 0.103) !important; color: #B9BBBE;}
#status-picker-dnd.colorDefault-2K3EoJ.focused-3afm-j .status-1AY8sU, .colorDefault-2K3EoJ:active .status-1AY8sU{background-color: #DB504C !important;}
#status-picker-invisible.focused-3afm-j{background-color: rgba(118, 127, 140, 0.103) !important; color: #B9BBBE;}
#status-picker-invisible.colorDefault-2K3EoJ.focused-3afm-j .status-1AY8sU, .colorDefault-2K3EoJ:active .status-1AY8sU{background-color: #767F8C !important;}
#status-picker-custom-status.status-1AY8sU{background-color: rgba(90, 163, 100, 0.103) !important; color: #B9BBBE;}
.scroller-3BxosC{background-color: #181924;}
.radioSelection-1HmrQS{color:#5B64EA !important}
.radioSelection-1HmrQS{color:#5B64EA !important}
.checkbox-3s5GYZ{color:#5B64EA !important}
.check-1JyqgN{color:#FFFFFF !important}

/*Settings*/
.item-PXvHYJ.themed-OHr7kt[aria-controls*="language-tab"]{display: none;}
.item-PXvHYJ.themed-OHr7kt[aria-controls*="billing-tab"]{display: none;}
.item-PXvHYJ.themed-OHr7kt[aria-controls*="library-inventory-tab"]{color: #74DAC1;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="library-inventory-tab"]{--background-modifier-hover: rgba(116, 218, 193, 0.103) !important;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="library-inventory-tab"][aria-selected="true"]{background-color: #74DAC1!important; color: white;}
.item-PXvHYJ.themed-OHr7kt[aria-controls*="game-activity-tab"]{color: #F0BB5D;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="game-activity-tab"]{--background-modifier-hover: rgba(240, 186, 93, 0.103) !important;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="game-activity-tab"][aria-selected="true"]{background-color: #F0BB5D !important; color: white;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="logout-tab"]{--background-modifier-hover: rgba(219, 81, 76, 0.103) !important;}
.item-PXvHYJ.themed-OHr7kt[aria-controls*="customcss-tab"]{color: rgb(90, 211, 54);}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="customcss-tab"]{--background-modifier-hover: rgba(90, 211, 54, 0.103) !important;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="customcss-tab"][aria-selected="true"]{background-color: rgb(90, 211, 54) !important; color: white;}
.item-PXvHYJ.themed-OHr7kt[aria-controls*="plugins-tab"]{color: rgb(19, 129, 255);}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="plugins-tab"]{--background-modifier-hover: rgba(19, 129, 255, 0.103) !important;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="plugins-tab"][aria-selected="true"]{background-color: rgb(19, 129, 255) !important; color: white;}
.item-PXvHYJ.themed-OHr7kt[aria-controls*="themes-tab"]{color: rgb(248, 51, 51);}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="themes-tab"]{--background-modifier-hover: rgba(248, 51, 51, 0.103) !important;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="themes-tab"][aria-selected="true"]{background-color: rgb(248, 51, 51) !important; color: white;}
.item-PXvHYJ.themed-OHr7kt[aria-controls*="hypesquad-online-tab"]{color: #7EDDC7;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="hypesquad-online-tab"]{--background-modifier-hover: rgba(126, 221, 199, 0.103) !important;}
.theme-dark .item-PXvHYJ.themed-OHr7kt[aria-controls*="hypesquad-online-tab"][aria-selected="true"]{background-color: #7EDDC7 !important; color: white;}

/*Toggle Buttons*/
.separator-2I32lJ{display: none;}
.wrapper-3_530D{display: none}
.button-3AYNKb{display: none;}
#message-tts, #message-actions-tts {display:none;}
#message-edit, #message-actions-edit {display:none;}
#message-reply, #message-actions-reply {display:none;}
#message-copy-link, #message-actions-copy-link {display:none;}
#message-mark-unread, #message-actions-mark-unread {display:none;}
#message-delete, #message-actions-delete {display:none;}
#message-add-reaction, #message-actions-add-reaction {display:none;}
#message-thread, #message-actions-thread {display:none;}
#message-pin, #message-actions-pin {display:none;}
#message-apps, #message-actions-apps {display:none;}
#message-reactions, #message-actions-reactions {display:none;}
#textarea-context-cut, #textarea-context-actions-cut {display:none;}
#textarea-context-paste, #textarea-context-actions-paste {display:none;}
#textarea-context-copy, #textarea-context-actions-copy {display:none;}
#textarea-context-languages, #textarea-context-actions-languages {display:none;}
#textarea-context-sticker-suggestions, #textarea-context-actions-sticker-suggestions {display:none;}
#user-context-mention, #user-context-actions-mention {display:none;}
#user-context-imageutilities-main-subitem, #user-context-actions-imageutilities-main-subitem {display:none;}
#user-context-note, #user-context-actions-note {display:none;}
#user-context-roles, #user-context-actions-roles {display:none;}
#user-context-call, #user-context-actions-call {display:none;}
#user-context-invite-to-server, #user-context-actions-invite-to-server {display:none;}
#guild-context-imageutilities-main-subitem {display:none;}
#guild-context-privacy {display:none;}
#guild-context-change-nickname {display:none;}
#guild-context-guild-profile {display:none;}
#guild-context-create-channel {display:none;}
#guild-context-create-category {display:none;}
#user-context-add-friend-nickname, #user-context-actions-add-friend-nickname {display:none;}
#message-copy, #message-actions-copy {display:none;}
#message-search-google, #message-actions-search-google {display:none;}
#message-translator-search-translation, #message-actions-translator-search-translation {display:none;}
#channel-context-invite-people{display: none;}
#channel-context-showhiddenchannels-permissions{display:none}
#textarea-context-chataliases-add-alias{display:none}
#textarea-context-chatfilter-add-filter{display:none}
#guild-context-serverfolders-auto-read-folder{display:none}
#guild-context-membercount-toggle{display:none}
#guild-context-serverfolders-submenu-add{display:none}
#message-chataliases-add-alias{display:none}
#message-chatfilter-add-filter{display:none}
