/*DEMENTED_ELMO'S BETTERDISCORD CSS*/

/*Hide Discovery*/
.tutorialContainer-2jwoiB+div{display: none;}

/*Hide Nitro Tab*/
[href="/store"]{display:none}

/*Hide Wave To User DM Suggestion*/
.containerExpanded-3etgq5{display:none}

/*Hide Floating Stream Preview*/
.pictureInPictureVideo-2puO2Q {display: none;}

/*Copy Raw Message Button Removal*/
.copr-button[aria-label="Copy About me"]{display:none}

/*Thread Notifcations*/
.container-3O_wAf {display:none}

/*Remove Follow Banner On Announcemnets*/
.wrapper-2SplAX {display: none;}

/*Remove Role Filter*/
.roleFilter-btnContainer, .roleFilter-header{display:none}

/*Remove Boost Goal*/
.container-2giAcK{display:none !important}

/*Better Long File Name Viewer*/
.audioMetadata-1Hrt8T::before {min-width: 24px;}

/*Hide Message Date Until Hover*/
.header-2jRmjb > .timestamp-p1Df1m {opacity: 0;}
.messageListItem-ZZ7v6g:hover .header-2jRmjb > .timestamp-p1Df1m {opacity: 1 !important;}

/*Remove Submit A Bug On Friends Page*/
.container-2cd8Mz [aria-label="Submit Bug"] {display: none;}

/*Sticker Radius*/
.pngImage-1vIgLy.stickerAsset-4c7Oqy, .pngImage-1vIgLy.stickerAsset-4c7Oqy:hover{border-radius: 9px;}

/*Emoji Popout Cleanup*/
.emojiSection-3QtaWO .colorStandard-21JIj7.size14-3fJ-ot{display:none}
.popoutContainer-2wbmiM{width:max-content}

/*Remove Status Indicator On User Area*/
.container-YkUktl .wrapper-1VLyxH > svg > svg, .container-YkUktl .pointerEvents-9SZWKj, .container-YkUktl .status-12NUUC {display: none;}
.container-YkUktl .wrapper-1VLyxH > svg > foreignObject, .container-YkUktl .avatarHint-k7pYop > foreignObject, .container-YkUktl .avatarHint-k7pYop {mask: unset; border-radius: 50%!important;}

/*Banner Fixes*/
.bannerPremium-kkSkPv .premiumIconWrapper-32h0Ri {display: none;}
.bannerOverlay-1uIerX{display: none;}

/*Emoji Picker*/
.sprite-2lxwfc {background: url("https://cdn.discordapp.com/attachments/872597872472907896/876198404605231204/Emojis.png");}

/*Remove Message Box In User Popout*/
.inputDefault-3FGxgL.input-2g-os5.input-2z42oC {display: none;}
.footer-3naVBw {display: none;}

/*Hide Stage Discovery And Nitro Tab*/
#private-channels [href="/discovery"] {display: none}
#private-channels [href="/store"] {display: none}

/*Reposition Add A Server*/
.circleIconButton-1VxDrg.selected-2r1Hvo{background-color:rgb(41, 40, 63); color: rgb(70, 165, 82);}
.tutorialContainer-2jwoiB{bottom:2px; position: fixed; left:2px; opacity: 0;}
.tutorialContainer-2jwoiB:hover{opacity: 1;}

/*Editor Fixes*/
#floating-editor-window.resizable {max-height: unset; max-width: unset; min-width: unset; min-height: unset;}
#floating-editor-window {max-height: unset; max-width: unset; min-width: unset; min-height: unset;}
.markdown-hover {display: none;}

/*Hide Social Links And Info*/
.socialLinks-2DELRE{display: none}
.info-1sUqUG{display: none}

/*New Create DM Location*/
[aria-label="New Group DM"]{position:fixed;top: 50px;left:347px; opacity: 0}
.popout-3gby1q.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3{left:415px !important}
.inviteToolbar-2k2nqz::after{position: relative !important}

/*Selection Color*/
::selection {background-color: rgba(24, 160, 244, 0.503);}
.monaco-editor .selected-text { background-color: rgba(24, 160, 244, 0.503) !important;}

/*Textbox Text*/
.placeholder-1_mJY1 {visibility: hidden;}
.placeholder-1_mJY1::before {
  content: "What's on your mind?";
  font-size: 1rem;
  visibility: visible;}

/*Search Bar Text*/
.public-DraftEditorPlaceholder-root {visibility: hidden;}
.public-DraftEditorPlaceholder-root::before {
  content: "What's up?";
  visibility: visible;}

/*Emoji Picker Reorder*/
#emoji-picker-tab{order:-1;}
#gif-picker-tab{order:1}
#sticker-picker-tab{padding-right:5px}
.nav-1zWVQw{padding-left:8.3px;}

/*Cleaner Group DMs*/
.channel-1Shao0.container-1oeRFJ.clickable-28SzVr .subtext-14b69p{display:none}
.channel-1Shao0.container-1oeRFJ.clickable-28SzVr .overflow-1wOqNV{font-size: 17px;}
.channel-1Shao0.container-1oeRFJ.selected-1-Z6gm .subtext-14b69p{display:none}
.channel-1Shao0.container-1oeRFJ.selected-1-Z6gm .overflow-1wOqNV{font-size: 17px;}

/*Capitalize Channel Names*/
.headerIcon-2Gk2OH+.headerLabel-1g790w,
.children-3xh0VB >h3,
.item-3XjbnG,
.name-28HaxV {text-transform: capitalize;}

/*Message Buttons*/
.button-3bklZh[aria-label="Create Thread"], .button-3bklZh[aria-label="Copy Link"], 
.button-3bklZh[aria-label="Copy ID"], [aria-label="Copy RAW Message"] > .button-3bklZh,
.button-3bklZh[aria-label="More"], [aria-label="Copy Message (Custom)"] > .button-3bklZh{display:none !important}
.button-3bklZh[aria-label="Mark Unread"]{order:-1 !important}
.button-3bklZh.cursorPointer-B3uwDA{order:-2 !important}

/*Hide Top Bar Icons*/
[aria-label*="Help"]{display: none;}
[aria-label*="Member List"]{display:none}
[aria-label*="Mute channel"]{display:none}
[aria-label*="Inbox"]{display: none;}
[aria-label*="Threads"]{display: none;}
[aria-label*="Start Video Call"]{display: none;}
.toolbar-3_r2xA .divider-q3P9HC{display:none}

/*Emoji Fix*/
img.emote {
text-indent: 0;
white-space: nowrap;
width: auto;
position: relative;
top: 0.25ex;}

/*Settings Spacing*/
.sidebarRegion-1VBisG,
.sidebarRegionScroller-FXiQOh {flex: 0 0 auto;}
.contentColumnDefault-3eyv5o {max-width: unset;}

/*Edit Server Profile Change To Button*/
.setIdentityLink-hOFsMl .colorLink-2apWfY.size14-3fJ-ot{visibility: hidden;}
.setIdentityLink-hOFsMl .colorLink-2apWfY.size14-3fJ-ot::before{
    content: url('https://raw.githubusercontent.com/Demented-Eimo/demented-eimo.github.io/main/thing.svg');
    visibility: visible;
    position: fixed;
    top:183px;
    left:265px;}
.setIdentityLink-hOFsMl{position: fixed;}

/*Pin Home Button*/
.guilds-2JjMmN .tree-3agP2X:focus {outline-color: transparent;}
.guilds-2JjMmN .scroller-3X7KbA {
contain: unset;
margin-top: 56px;}
.guilds-2JjMmN .scroller-3X7KbA .tutorialContainer-1pL9QS {
position: fixed;
transform: translatey( -100% );}

/*Offline Viewer*/
.container-2RRFHK {background: transparent; pointer-events: none}
.container-2RRFHK>div {display: none}
.container-2RRFHK::before {
  content: "You've gone offline";
  display: block;
  bottom: 24px; right: 24px;
  position: absolute;
  padding: 8px 16px;
  background-color: #f04747;
  border-radius: 4px;
  color: #fff;
  font-weight: 500}

/*Old Role Style*/
.role-2TIOKu {
  border: 1px solid;
  border-radius: 11px;
  background: transparent}
.roleCircle-1EgnFN {margin-left: 0}

/*Colored Roles*/
.role-2TIOKu {
  position: relative;
  overflow: hidden;
  z-index: 0;}
.roleCircle-1EgnFN::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: inherit;
  opacity: 0.3;
  z-index: -1}

/*Hover Channels Animated*/
.mainContent-20q_Hp:hover {
animation: UserModalButtons 0.5s normal ease;}
.mainContent-20q_Hp .noWrap-hBpHBz {width: 100px;opacity: 1;}
.mainContent-20q_Hp {transition: 0.2s;}
.mainContent-20q_Hp:hover {transition: 0.2;}
@keyframes UserModalButtons {
0% {transform: translateY(0px);}
45% {transform: translateY(-5px);}
90% {transform: translateY(0px);}}

/*Right Click GUI Additions*/
#message-personalpins-pin-note, #user-settings-cog-Payment_Flow_Modals, #user-settings-cog-Dismissible_Content_Options, #user-settings-cog-copy-user{display:none}
.scroller-1bVxF5.thin-31rlnD.scrollerBase-_bVAAt{border-radius: 5px;}
:root {--ContextMenuBackgroundColorDark: #292937 !important;}
.menu-1QACrS {
  background: var(--ContextMenuBackgroundColorDark) !important;
  border: solid 1.9px #000 !important;
  border-radius: 7px !important;}
.menu-1QACrS:before {
  content:"" !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  backdrop-filter: var(--ContextMenuBackgroundBlur) !important;
  border-radius: 100px !important;
  box-shadow: inset 0 0 0 1px #fff3 !important;
  z-index: -1 !important;}
.separator-1So4YB{display:none}

/*Animated Buttons*/
.button-12Fmur:hover .contents-3ca1mk {animation: UserModalButtons 0.5s normal ease;}
.container-YkUktl .noWrap-hBpHBz {
  width: 100px;
  opacity: 1;}
.button-12Fmur {transition: 0.2s;}
.button-12Fmur:hover {
  padding-bottom: 0px;
  transition: 0.2;}
@keyframes UserModalButtons {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-5px);}
  100% {transform: translateY(0px);}}

/*Rainbow wave mentions*/
html .mention.wrapper-1ZcZW-.mention.interactive{
  background-image: linear-gradient(to left,rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
  animation: gradient-border 3s linear infinite;
  background-size: 400% 100%;
  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
  z-index: 1;}
@keyframes gradient-border {
  from {background-position: 0 0;}
  to {background-position: 130% 0;}}

/*Rainbow Wave Role Mentions*/
.wrapper-1ZcZW-.iconMention-3WxjBe.iconMentionText-1_WCtN.mention.interactive{padding-left:0px}
.roleMention-11Aaqi.desaturate-_Twf3u.wrapper-1ZcZW-.mention{
  background-image: linear-gradient(to left,rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
  animation: gradient-border 4s linear infinite;
  background-size: 400% 100%;
  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 1;}
@keyframes gradient-border {
  from {background-position: 0 0;}
  to {background-position: 130% 0;}}

/*Hover DMS animated*/
.channel-1Shao0.container-1oeRFJ.clickable-28SzVr:hover {
animation: UserModalButtons 0.5s normal ease;}
.channel-1Shao0.container-1oeRFJ.clickable-28SzVr.noWrap-hBpHBz {width: 100px;opacity: 1;}
.channel-1Shao0.container-1oeRFJ.clickable-28SzVr {transition: 0.2s;}
.channel-1Shao0.container-1oeRFJ.clickable-28SzVr:hover {transition: 0.2;}
.channel-1Shao0.container-1oeRFJ.selected-1-Z6gm:hover {
animation: UserModalButtons 0.5s normal ease;}
.channel-1Shao0.container-1oeRFJ.selected-1-Z6gm.noWrap-hBpHBz {width: 100px;opacity: 1;}
.channel-1Shao0.container-1oeRFJ.selected-1-Z6gm {transition: 0.2s;}
.channel-1Shao0.container-1oeRFJ.selected-1-Z6gm:hover {transition: 0.2;}
@keyframes UserModalButtons {
0% {transform: translateY(0px);}
45% {transform: translateY(-5px);}
90% {transform: translateY(0px);}}

/*Cog Right Click*/
#user-settings-cog-Profile_Customization{display:none}
#user-settings-cog-My_Account{display:none}
#user-settings-cog-Privacy___Safety{display:none}
#user-settings-cog-Authorized_Apps{display:none}
#user-settings-cog-Connections{display:none}
#user-settings-cog-Discord_Nitro{display:none}
#user-settings-cog-Nitro_Server_Boost{display:none}
#user-settings-cog-Library_Inventory{display:none}
#user-settings-cog-Billing{display:none}
#user-settings-cog-Appearance{display:none}
#user-settings-cog-Accessibility{display:none}
#user-settings-cog-Voice___Video{display:none}
#user-settings-cog-Text___Images{display:none}
#user-settings-cog-Notifications{display:none}
#user-settings-cog-Keybinds{display:none}
#user-settings-cog-Language{display:none}
#user-settings-cog-Advanced{display:none}
#user-settings-cog-Game_Activity{display:none}
#user-settings-cog-changelog{display:none}
#user-settings-cog-Hypesquad_Online{display:none}
#user-settings-cog-Subscriptions{display:none}
#user-settings-cog-Streamer_Mode{display:none}
#user-settings-cog-BetterDiscord--Settings{display:none}
#user-settings-cog-BetterDiscord--pluginrepo-repo{display:none}
#user-settings-cog-BetterDiscord--themerepo-repo{display:none}
#user-settings-cog-BetterDiscord--Plugins .arrow-2HswgU.caret-2MOQD6{display:none}
.submenu-1apzyU.menu-1QACrS[aria-activedescendant="user-settings-cog-BetterDiscord--Plugins"] .submenuPaddingContainer-_k62dJ{display:none}
#audio-device-context{display:none}
#user-settings-cog-Developer_Options{display:none}
#user-settings-cog-Experiments{display:none}
#user-settings-cog-Hotspot_Options{display:none}

/*Right Click Colors*/
.item-1OdjEX.labelContainer-2vJzYL.colorDanger-3n-KnP.colorDefault-CDqZdO{color: rgb(216, 40, 33);}
.theme-dark .item-1OdjEX.labelContainer-2vJzYL.colorDanger-3n-KnP.colorDefault-CDqZdO.focused-3qFvc8{background-color: rgba(216, 39, 33, 0.103)!important; color: rgb(216, 40, 33);}
.theme-dark .item-1OdjEX.labelContainer-2vJzYL.colorBrand-3cPPsm.colorDefault-CDqZdO.focused-3qFvc8{background-color: rgba(91, 100, 234, 0.103)!important; color: rgb(91, 100, 234);}
.theme-dark .item-1OdjEX.labelContainer-2vJzYL.colorDefault-CDqZdO.focused-3qFvc8{background-color: #252631!important; color: #B9BBBE;}
.theme-dark .labelContainer-2vJzYL.colorPremium-vwmYZQ.colorDefault-CDqZdO.focused-3qFvc8{background-color: rgba(239, 123, 243, 0.103) !important; color: #EE7BF3;}
#status-picker-idle.focused-3qFvc8{background-color: rgba(238, 172, 66, 0.103)!important; color: #B9BBBE;}
#status-picker-idle.colorDefault-CDqZdO.focused-3qFvc8 .status-2DiCMd, .colorDefault-CDqZdO:active .status-2DiCMd{background-color: rgba(238, 172, 66) !important;}
#status-picker-online.focused-3qFvc8{background-color: rgba(90, 163, 100, 0.103) !important; color: #B9BBBE;}
#status-picker-online.colorDefault-CDqZdO.focused-3qFvc8 .status-2DiCMd, .colorDefault-CDqZdO:active .status-2DiCMd{background-color: #5AA364 !important;}
#status-picker-dnd.focused-3qFvc8{background-color: rgba(219, 81, 76, 0.103) !important; color: #B9BBBE;}
#status-picker-dnd.colorDefault-CDqZdO.focused-3qFvc8 .status-2DiCMd, .colorDefault-CDqZdO:active .status-2DiCMd{background-color: #DB504C !important;}
#status-picker-invisible.focused-3qFvc8{background-color: rgba(118, 127, 140, 0.103) !important; color: #B9BBBE;}
#status-picker-invisible.colorDefault-CDqZdO.focused-3qFvc8 .status-2DiCMd, .colorDefault-CDqZdO:active .status-2DiCMd{background-color: #767F8C !important;}
#status-picker-custom-status.status-2DiCMd{background-color: rgba(90, 163, 100, 0.103) !important; color: #B9BBBE;}
.scroller-1bVxF5{background-color: #181924;}
.radioSelection-1UHp0b{color:#5B64EA !important}
.radioSelection-1UHp0b{color:#5B64EA !important}
.checkbox-hADx5o{color:#5B64EA !important}
.check-3HZJs4{color:#FFFFFF !important}

/*Settings*/
.item-3XjbnG.themed-2-lozF[aria-controls*="language-tab"]{display: none;}
.item-3XjbnG.themed-2-lozF[aria-controls*="billing-tab"]{display: none;}
.item-3XjbnG.themed-2-lozF[aria-controls*="library-inventory-tab"]{color: #74DAC1;}
.theme-dark .item-3XjbnG.themed-2-lozF[aria-controls*="library-inventory-tab"]{--background-modifier-hover: rgba(116, 218, 193, 0.103) !important;}
.theme-dark .item-3XjbnG.themed-2-lozF[aria-controls*="library-inventory-tab"][aria-selected="true"]{background-color: #74DAC1!important; color: white;}
.item-3XjbnG.themed-2-lozF[aria-controls*="game-activity-tab"]{color: #F0BB5D;}
.theme-dark .item-3XjbnG.themed-2-lozF[aria-controls*="game-activity-tab"]{--background-modifier-hover: rgba(240, 186, 93, 0.103) !important;}
.theme-dark .item-3XjbnG.themed-2-lozF[aria-controls*="game-activity-tab"][aria-selected="true"]{background-color: #F0BB5D !important; color: white;}
.theme-dark .item-3XjbnG.themed-2-lozF[aria-controls*="logout-tab"]{--background-modifier-hover: rgba(219, 81, 76, 0.103) !important;}
.item-3XjbnG.themed-2-lozF[aria-controls*="customcss-tab"]{color: rgb(90, 211, 54);}
.theme-dark .item-3XjbnG.themed-2-lozF[aria-controls*="customcss-tab"]{--background-modifier-hover: rgba(90, 211, 54, 0.103) !important;}
.theme-dark .item-3XjbnG.themed-2-lozF[aria-controls*="customcss-tab"][aria-selected="true"]{background-color: rgb(90, 211, 54) !important; color: white;}
.item-3XjbnG.themed-2-lozF[aria-controls*="plugins-tab"]{color: rgb(19, 129, 255);}
.theme-dark .item-3XjbnG.themed-2-lozF[aria-controls*="plugins-tab"]{--background-modifier-hover: rgba(19, 129, 255, 0.103) !important;}
.theme-dark .item-3XjbnG.themed-2-lozF[aria-controls*="plugins-tab"][aria-selected="true"]{background-color: rgb(19, 129, 255) !important; color: white;}
.item-3XjbnG.themed-2-lozF[aria-controls*="themes-tab"]{color: rgb(248, 51, 51);}
.theme-dark .item-3XjbnG.themed-2-lozF[aria-controls*="themes-tab"]{--background-modifier-hover: rgba(248, 51, 51, 0.103) !important;}
.theme-dark .item-3XjbnG.themed-2-lozF[aria-controls*="themes-tab"][aria-selected="true"]{background-color: rgb(248, 51, 51) !important; color: white;}
.item-3XjbnG.themed-2-lozF[aria-controls*="hypesquad-online-tab"]{color: #7EDDC7;}
.theme-dark .item-3XjbnG.themed-2-lozF[aria-controls*="hypesquad-online-tab"]{--background-modifier-hover: rgba(126, 221, 199, 0.103) !important;}
.theme-dark .item-3XjbnG.themed-2-lozF[aria-controls*="hypesquad-online-tab"][aria-selected="true"]{background-color: #7EDDC7 !important; color: white;}
.item-3XjbnG.themed-2-lozF[aria-controls="developer-options-tab"]{display:none}
.item-3XjbnG.themed-2-lozF[aria-controls="hotspot-options-tab"]{display:none}
.item-3XjbnG.themed-2-lozF[aria-controls="experiments-tab"]{order: 1;}
.item-3XjbnG.themed-2-lozF[aria-controls="experiments-tab"]{color: plum;}
.theme-dark .item-3XjbnG.themed-2-lozF[aria-controls="experiments-tab"]{--background-modifier-hover: rgba(221, 160, 221, 0.103) !important;}
.theme-dark .item-3XjbnG.themed-2-lozF[aria-controls="experiments-tab"][aria-selected="true"]{background-color: plum !important; color: white;}
.repoHeader-2KfNvH .item-3XjbnG.themed-2-lozF[aria-controls*="plugins-tab"][aria-selected="true"]{background-color: transparent !important;}
.repoHeader-2KfNvH .item-3XjbnG.themed-2-lozF[aria-controls*="themes-tab"][aria-selected="true"]{background-color: transparent !important;}
.repoHeader-2KfNvH .item-3XjbnG.themed-2-lozF[aria-controls*="plugins-tab"][aria-selected="false"]{color:rgb(185, 185, 185) !important}
.repoHeader-2KfNvH .item-3XjbnG.themed-2-lozF[aria-controls*="themes-tab"][aria-selected="false"]{color:rgb(185, 185, 185) !important}

/*Toggle Buttons*/
/*
.separator-1So4YB{display: none;}
*/
.wrapper--nA0oy{display: none}
.button-2fCJ0o{display: none;}
#message-tts, #message-actions-tts {display:none;}
#message-edit, #message-actions-edit {display:none;}
#message-reply, #message-actions-reply {display:none;}
#message-copy-link, #message-actions-copy-link {display:none;}
#message-mark-unread, #message-actions-mark-unread {display:none;}
#message-delete, #message-actions-delete {display:none;}
#message-add-reaction, #message-actions-add-reaction {display:none;}
#message-thread, #message-actions-thread {display:none;}
#message-pin, #message-actions-pin {display:none;}
#message-apps, #message-actions-apps {display:none;}
#message-reactions, #message-actions-reactions {display:none;}
#textarea-context-cut, #textarea-context-actions-cut {display:none;}
#textarea-context-paste, #textarea-context-actions-paste {display:none;}
#textarea-context-copy, #textarea-context-actions-copy {display:none;}
#textarea-context-languages, #textarea-context-actions-languages {display:none;}
#textarea-context-sticker-suggestions, #textarea-context-actions-sticker-suggestions {display:none;}
#user-context-mention, #user-context-actions-mention {display:none;}
#user-context-imageutilities-main-subitem, #user-context-actions-imageutilities-main-subitem {display:none;}
#user-context-note, #user-context-actions-note {display:none;}
#user-context-roles, #user-context-actions-roles {display:none;}
#user-context-call, #user-context-actions-call {display:none;}
#user-context-invite-to-server, #user-context-actions-invite-to-server {display:none;}
#guild-context-imageutilities-main-subitem {display:none;}
#guild-context-privacy {display:none;}
#guild-context-change-nickname {display:none;}
#guild-context-guild-profile {display:none;}
#guild-context-create-channel {display:none;}
#guild-context-create-category {display:none;}
#user-context-add-friend-nickname, #user-context-actions-add-friend-nickname {display:none;}
#message-copy, #message-actions-copy {display:none;}
#message-search-google, #message-actions-search-google {display:none;}
#message-translator-search-translation, #message-actions-translator-search-translation {display:none;}
#channel-context-invite-people{display: none;}
#channel-context-showhiddenchannels-permissions{display:none}
#textarea-context-chataliases-add-alias{display:none}
#textarea-context-chatfilter-add-filter{display:none}
#guild-context-serverfolders-auto-read-folder{display:none}
#guild-context-membercount-toggle{display:none}
#guild-context-serverfolders-submenu-add{display:none}
#message-chataliases-add-alias{display:none}
#message-chatfilter-add-filter{display:none}
