/*Bordered Popout*/
.userPopout-xaxa6l {
  border: 1px #5b64ea solid;
  box-sizing: border-box;
  border-radius: 9px 9px 9px 9px;}

/*Outlined Badges*/
.container-q03LZO {
  border: 1px #5b64ea solid;
  box-sizing: border-box;
  border-radius: 5px 5px 5px 5px;
  width: max-content;
  height: 28px;}
.container-q03LZO:empty {visibility: hidden;}
