/*Emoji Picker*/
.sprite-2iCowe {background: url("https://cdn.discordapp.com/attachments/872597872472907896/876198404605231204/Emojis.png");}

/*Settings Spacing*/
.sidebarRegion-VFTUkN,
.sidebarRegionScroller-3MXcoP {flex: 0 0 auto;}
.contentColumnDefault-1VQkGM {max-width: unset;}

/*Rainbow wave name and status*/
.subtext-3CDbHg,
.customStatus-3tC2ig,
.hovered-d5PMVU,
.title-eS5yk3 {
  background-image: linear-gradient(to left,rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
  animation: gradient-border 4s linear infinite;
  background-size: 400% 100%;
  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 1;}
@keyframes gradient-border {
  from {background-position: 0 0;}
  to {background-position: 130% 0;}}

/*Rainbow wave mentions*/
html .mention.wrapper-3WhCwL.mention.interactive{
  background-image: linear-gradient(to left,rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
  animation: gradient-border 3s linear infinite;
  background-size: 400% 100%;
  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
  z-index: 1;}
@keyframes gradient-border {
  from {background-position: 0 0;}
  to {background-position: 130% 0;}}

/*Rainbow Wave Role Mentions*/
.roleMention-2Bj0ju.desaturate-qhyunI.wrapper-3WhCwL.mention{
  background-image: linear-gradient(to left,rgb(51, 255, 0), rgb(255, 230, 0), red, rgb(234, 0, 255), rgb(0, 140, 255), rgb(51, 255, 0));
  animation: gradient-border 4s linear infinite;
  background-size: 400% 100%;
  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 1;}
@keyframes gradient-border {
  from {background-position: 0 0;}
  to {background-position: 130% 0;}}


/*Bordered Popout*/
.userPopout-xaxa6l {
  border: 1px #5b64ea solid;
  box-sizing: border-box;
  border-radius: 9px 9px 9px 9px;}

/*Outlined Badges*/
.container-q03LZO {
  border: 1px #5b64ea solid;
  box-sizing: border-box;
  border-radius: 5px 5px 5px 5px;
  width: max-content;
  height: 28px;}
.container-q03LZO:empty {visibility: hidden;}

/*Old Role Style*/
.role-2irmRk {
  border: 1px solid;
  border-radius: 11px;
  background: transparent}
.roleCircle-3xAZ1j {margin-left: 0}

/*Colored Roles*/
.role-2irmRk {
  position: relative;
  overflow: hidden;
  z-index: 0;}
.roleCircle-3xAZ1j::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: inherit;
  opacity: 0.3;
  z-index: -1}

/*Textbox Text*/
.placeholder-37qJjk {visibility: hidden;}
.placeholder-37qJjk::before {
  content: "What's on your mind?";
  font-size: 1rem;
  visibility: visible;}

/*Toggle Buttons (May want to deep scan this one*/
.inviteToolbar-3F-l2g{display: none}
.separator-2I32lJ{display: none;}
.wrapper-3_530D{display: none}
.button-3AYNKb{display: none;}
#message-tts, #message-actions-tts {display:none;}
#message-edit, #message-actions-edit {display:none;}
#message-reply, #message-actions-reply {display:none;}
#message-copy-link, #message-actions-copy-link {display:none;}
#message-mark-unread, #message-actions-mark-unread {display:none;}
#message-delete, #message-actions-delete {display:none;}
#message-add-reaction, #message-actions-add-reaction {display:none;}
#message-thread, #message-actions-thread {display:none;}
#message-pin, #message-actions-pin {display:none;}
#message-apps, #message-actions-apps {display:none;}
#message-reactions, #message-actions-reactions {display:none;}
#textarea-context-cut, #textarea-context-actions-cut {display:none;}
#textarea-context-paste, #textarea-context-actions-paste {display:none;}
#textarea-context-copy, #textarea-context-actions-copy {display:none;}
#textarea-context-languages, #textarea-context-actions-languages {display:none;}
#textarea-context-sticker-suggestions, #textarea-context-actions-sticker-suggestions {display:none;}
#user-context-mention, #user-context-actions-mention {display:none;}
#user-context-imageutilities-main-subitem, #user-context-actions-imageutilities-main-subitem {display:none;}
#user-context-note, #user-context-actions-note {display:none;}
#user-context-roles, #user-context-actions-roles {display:none;}
#user-context-call, #user-context-actions-call {display:none;}
#user-context-invite-to-server, #user-context-actions-invite-to-server {display:none;}
#guild-context-imageutilities-main-subitem {display:none;}
#guild-context-privacy {display:none;}
#guild-context-change-nickname {display:none;}
#guild-context-guild-profile {display:none;}
#guild-context-create-channel {display:none;}
#guild-context-create-category {display:none;}
#user-context-add-friend-nickname, #user-context-actions-add-friend-nickname {display:none;}
#message-copy, #message-actions-copy {display:none;}
#message-search-google, #message-actions-search-google {display:none;}
#message-translator-search-translation, #message-actions-translator-search-translation {display:none;}

/*IF YOU USE AN OF THIS CODE, PLEASE ADD THIS INTO CODE FOR CREDIT: (IT EDITS MY USER POPOUT)*/

/*Popout Fixes*/
#app-mount [data-user-id="810543628307922955"] .bodyInnerWrapper-26fQXj {background: transparent;}

/*Personal Colored Roles*/
#app-mount [data-user-id="810543628307922955"] .role-2irmRk {
  position: relative;
  overflow: hidden;
  z-index: 0;}
.roleCircle-3xAZ1j::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: inherit;
  opacity: 0.4;
  z-index: -1}

/*Background Image*/
#app-mount [data-user-id="810543628307922955"].userPopout-xaxa6l {background-image: url(https://cdn.discordapp.com/attachments/872597872472907896/876122913869299782/Screen_Shot_2021-08-14_at_9.09.59_AM.png);}
